locales/locales.ts
**/__tests__/**
.eslintrc.js
definitions/*
src/react-app-env.d.ts
Dangerfile.ts
src/reportWebVitals.ts
**/generated/**
openApi/scripts/**
craco.config.js
src/shims/agentkeepalive-browser.js
src/shims/node-fetch-browser.js
