.CustomLabelStyle {
  font-size: 14px !important;
  color: #5c6f82 !important;
}

.CustomInfoStyle {
  color: #000000 !important;
}

.CustomDisabledLabel {
  color: #a2adb8 !important;
}

/* for the correct use of ShowDots insert width inside the speciphic tag */
.ShowDots {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.cursor-pointer {
  &:hover {
    cursor: pointer;
  }
}

.invoice-detail-textarea {
  width: 374px;
  border: none;
  resize: none;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
  background: transparent;
  color: inherit;
}